/* webpage flex container */
/* Holds 5 flex items (sections) */
body {
    display: flex;
    font-family: 'Roboto';
    flex-direction: column;
    box-sizing: border-box;
    /*  Modify */
    height: 1900px;
    margin: 0;
}

/* BODY flex item 1 */
/* flex container */
/* Holds 2 flex items */
header {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;

    background-color: #1F2937;
    padding: 24px 0;
    /* Separate top and bottom headers */
    gap: 100px;
}

    /* HEADER flex item #1 */
    .header-top-container {
        display: flex;
        margin: 0;
    }

        .hero-logo-text {
            color: #f9faf8;
            font-weight: bold;
            font-size: 24px;
            margin-left: 190px;
        }

        .header-top-right {
            display: flex;
            margin-left: auto;
            margin-right: 190px;
            width: 400px;
            justify-content: space-between;
        }

            a {
            text-decoration: none;
            color: #e5e7eb;
        }

    
    /* HEADER flex item #2 */
    .header-bottom-container {
        display: flex;
        margin-left: 190px;
    }

        .header-bottom-left {
                width: 450px;
        }

            .hero-text {
                width: 400px;
                margin: 0;
                font-size: 48px;
                color: #f9faf8;
                font-weight: 900;
            }

            .secondary-hero-text {
                margin: 0;
                font-size: 18px;
                color: #e5e7eb;
                text-wrap: wrap;
            }
    
            .sign-up-button {
                padding: 10px 30px;
                font-size: 16px;
                border: none;
                border-radius: 7px;
                cursor: pointer;
                font-weight: bold;
                margin-top: 16px;
                background-color: #3882F6;
                color: white;
            }
        
    img {
        width: 450px;
        height: 240px;
        margin-left: auto;
        margin-right: 190px;
    }


/* BODY flex item #2 */
/* FLEX CONTAINER */
/* contains 2 flex items */
.rand-info-section {
    display: flex;
    flex: 1;    
    flex-direction: column;
    margin-top: 25px;
}

    /* rand-info-section flex item #1 */    
    .rand-info-header {
        text-align: center;
        font-size: 36px;
        color:  #1F2937;
        font-weight: 900;
    }

    /* rand-info-section flex item #2 */
    /* FLEX CONTAINER w/ 4 flex items */
    .boxes-container {
        display: flex;
        justify-content: center;
        gap: 60px;
    }

        /* boxes-container 4 flex items */
        /* 4 FLEX CONTAINERS - each has 2 flex items */
        /* Each container is a box with text beneath */
        .box-group {
            display: flex;
            flex-direction: column;
            width: 150px;
            gap: 8px;
        }

            /* 4 boxes */
            .box{
                /* CSS Box model = border box  */
                box-sizing: border-box;
                width: 150px; aspect-ratio: 1;
                border-radius: 16px;
                border: 4px solid rgb(124, 124, 237);
            }
            
            /* 4 box texts */
            .box-text {
                margin: 0;
                font-size: 16px;
                text-align: center;
            }


/* BODY flex item #3 */
/* FLEX CONTAINER */
/* contains 1 flex item */
.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;    
    background-color: #E5E7EB;
}

    /* quote section flex item */
    /* FLEX CONTAINER w/ 2 flex items*/
    .quote-section-content {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

        /* quote-section content flex item #1 */
        .quote {
            font-size: 36px;
            font-style: italic;
            font-weight: 300;
            color: #1F2937;
            margin: 0;
        }

        .quote-attribution {
            margin: 0 24px 0 auto;
            font-weight: bold; /* same as 700 */
            font-size: 24px
        }


/* BODY flex item #4 */
/* FLEX CONTAINER */
/* contains 2 flex items */
.cta-section-container {
    display: flex;
    flex: 0.6;
    justify-content: center;
    align-items: center;     /* removes flex item's height */
    color: white;
}
    /* cta-section-container flex item #1 */
    /* contains 2 flex items */
    .cta-box-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 75%;
        border-radius: 7.5px;
        padding: 50px 0;
        background-color: #3882F6;
    }
        .cta-header, .cta-subheader {
            margin: 0;
            padding: 0;
        }
        .cta-subheader {
            opacity: 0.7;
        }

    /* cta-section-container flex item #2 */
    .cta-button {
        background: transparent;
        color: white;
        border-radius: 10px;
        padding: 7px 30px;
        font-size: 18px;
        font-weight: 600;
        border: 2px white solid;
    }

/* BODY flex item #5 */
footer {
    display: flex;
    flex: 0.25;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}