body {
    margin: 0;
    font-family: 'Roboto';
}

header {
    background-color: #1F2937;
}

.header-top-container {
    display: flex;
    margin: 0;
}

.header-left {
    margin-left: 200px;
}

.header-left h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

/* secondary hero text */
.header-left p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-logo-text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-right {
    display: flex;
    margin-left: auto;
    margin-right: 200px;
    width: 400px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}